//COLORS
$color-primary: #1E0036;
$color-secondary: #2A7C8D;
$color-secondary-1: #F85458;
$color-tertiary: #723E97;
$color-white: #FFFFFF;
$color-black: #000;

//GRID
$grid-width: 114rem;
$grid-width-custom: 80rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-case: 0;